<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>Express!!!!!!!!</h1>
		<h3>Hello, <%= name %> </h3>
		<ul>
			<% for(let i=0; i<numbers.length; i++){ %>
				<li><%= numbers[i] %> </li>
			<% } %>
		</ul>
		<p><%= numbers %> </p>
	</body>
</html>